.save-btn {
    float: right;
    color: black;
    padding: 5px;
    margin: 5px;
    background-color: #D3D3D3;
  }
  
  .save-btn:hover {
    background-color: #A9A9A9;
  }
  
  .save-btn:active {
    transform: translateY(4px);
    background-color: #A9A9A9;
  }